#map {
  width: 65%;
  height: 100%; 
  z-index: 0;
}

/* Style pour déterminer le menu*/

.menu {
  font: 8px/16px 'Lato', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 150px;
  bottom: 4%;
  right: 0.75%;
  z-index: 10;
  padding: 0.75%;
}

.menu .menu_overlay {
  background-color: rgb(30, 28, 28);
  opacity : 0.9;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.50);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 0px;
}

.menu_overlay fieldset {
  border: none;
  padding: 0;
  margin: 0 0 0px;
}

.menu_overlay .categoryLabel {
  display: block;
  font-weight: bold;
  margin: 0 0 0px;
}

.menu label {
  display: block; /* Afficher chaque entité de la légende sur une ligne différente */
  margin-bottom: 5px; /* Ajouter un espacement entre chaque entité de la légende */
  color: white;
}

/****************/
/* Contribution */
/****************/

/* Hide "improve this map" */
.mapbox-improve-map {
   display: none;
}

.mapboxgl-ctrl-attrib a {
  color: #047fc5;
}
